.composition {
  position: relative; /* referencia padre para position:absolute de "__photo" */

  &__photo {
    width: 55%; /* %  para responsive */
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s; //efecto animación (estado inicial al hacer hover)
    outline-offset: 2rem; // efecto marco al hacer hover

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%; /* como es la del medio horizontalmente, ponerla en % es mas responsive */
      top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary; // para el marco al hacer hover
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    // para que se achiquen las imagenes que no se hace hover, cuando se hace hover al elemento composition;
    transform: scale(0.95);
  }
}
